name: kestra-devtools continuous delivery

on:
  push:
    branches:
      - main
    tags-ignore:
      - '*'
permissions:
  contents: write
  actions: read
  pull-requests: write
  packages: read

env:
  # to save corepack from itself
  COREPACK_INTEGRITY_KEYS: 0

jobs:
  continuous-delivery:
    name: continuous delivery
    if: ${{ github.actor != 'github-actions[bot]' && !contains(github.event.head_commit.message, 'chore(release)') }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          token: ${{ secrets.GH_PERSONAL_TOKEN }}

      - uses: actions/setup-node@v6
        with:
          node-version: '22.12'
          registry-url: 'https://registry.npmjs.org'

      - name: Upgrade npm
        run: |
          npm install -g npm@latest
          npm version

      - name: Npm - install
        run: npm ci

      - name: Run tests
        run: npm run test

      - name: Git - Configure
        run: |
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"

      - name: bump and release a new patch version
        # TODO we could definitively improve that with a proper semver check,
        # but be careful of the race condition were a commit is pushed before the last one finish building, it can cause semver to be non-deterministic,
        # for the CI to be deterministic you need to take into account previous recents commits, see https://github.com/nrwl/nx-set-shas?tab=readme-ov-file#problem
        if: ${{ contains(github.event.head_commit.message, 'feat:') || contains(github.event.head_commit.message, 'feat(') || contains(github.event.head_commit.message, 'fix:') || contains(github.event.head_commit.message, 'fix(') }}
        run: 'npm version patch -m "chore(release): %s"'
        # see https://docs.npmjs.com/cli/v11/commands/npm-version#description