name: publish release to npm

on:
  push:
    tags:
      - '*'

env:
  # to save corepack from itself
  COREPACK_INTEGRITY_KEYS: 0

permissions:
  contents: read
  id-token: write

jobs:
  publish-to-npm:
    name: kestra-devtools tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Get OIDC Token
        env:
          AUDIENCE: "npm:registry.npmjs.org"
        run: |
          TOKEN_JSON=$(curl -s -H "Authorization: bearer $ACTIONS_ID_TOKEN_REQUEST_TOKEN" "$ACTIONS_ID_TOKEN_REQUEST_URL&audience=$AUDIENCE")
          ID_TOKEN=$(echo "$TOKEN_JSON" | jq -r .value)
          echo "NODE_AUTH_TOKEN=$ID_TOKEN" >> "$GITHUB_ENV"

      - uses: actions/setup-node@v6
        with:
          node-version: '22.x'
          registry-url: 'https://registry.npmjs.org'

      # Trusted publishing need npm 11.+
      - name: Upgrade npm
        run: |
          npm install -g npm@latest
          npm version

      - name: Npm - install
        run: npm ci

      - name: Run tests
        run: npm run test

      - name: publish publicly to npm
        run: |
          npm publish --access=public
