name: kestra-devtools pull request

on:
  pull_request:

env:
  # to save corepack from itself
  COREPACK_INTEGRITY_KEYS: 0

jobs:
  test:
    name: kestra-devtools tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - uses: actions/setup-node@v6
        with:
          node-version: '22.12'
          registry-url: 'https://registry.npmjs.org'

      - name: Upgrade npm
        run: |
          npm install -g npm@latest
          npm version

      - name: Npm - install
        run: npm ci

      - name: Run tests
        run: npm run test
